/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

* {
    font-family: Verdana;
}

*:link, *:visited {
    text-decoration:none;
    color:white;
}

* a:hover {
    text-decoration:underline;
}

.section {

}

#body {
    font-size:16px;
}

#header {
    position:fixed;
    z-index: 1;
    background-color:#3b3b3b;
    height:8%;
    width:100%;
    text-align:center;
    color:white;
    font-size:4em;
    font-weight: bold;
    border:2px solid black;
}
    
#notHeader {
    height:64px;
    width:100%;
    border:2px solid white; 
}

#footer {
    border:2px solid black;
    position: relative;
    background-color:#3b3b3b;
    height:50px;
    width:100%;
    text-align:center;
    color:white;
    clear:both;
}

.picture {
    border:2px solid black;
    display:inline-block;
}

section {
    margin:0 5% 0 9%;
}

#notSideBar {
    position: fixed;
    width: 8%;
    height: 100%;
    border:2px solid white;
}

#sideBar {
    z-index: 2;
    position: fixed;
    margin:-3px 0 0 0;
    width: 8%;
    height: 100%;
    background-color: #232323;
    font-size: 20px;
    font-family:'Arial Narrow', 'Nimbus Sans L', sans-serif;
    text-decoration: none;
    text-decoration-color: #ffffff;
    text-align: center;
    color: white;
    text-decoration: none;
    text-decoration-color: #ffffff;
    border:2px solid black;
}


.sideTab {
    margin:0 5% 0 0;
    font-size:20px;
    float:right;
    height:60px;
    width:110px;
    background-color:#1d3d40;
    border:1px solid black;
    border-radius:20px;
    line-height:25px;
    color:white;    
    text-decoration: none;
    text-decoration-color: #ffffff;
}

.sideTab:hover {
    text-decoration: underline;
    background-color:#485352;
}

.postTitle {
    color:black;
    font-family:'Arial Black', Gadget, sans-serif;
    font-size:1.7em;
    text-decoration: none;
    text-decoration-color: black;
}

#myCircle {
    position: relative;
    float: right;
    display:inline-block;
    width:200px;
    height:200px;
    background-color:red;
    border:1px solid black;
    text-align:center;
    font-size:25px;
    font-family:'Arial Black', Gadget, sans-serif 'Arial Black', Gadget, sans-serif;
    color:black;
    text-decoration-color:black;
    border-radius:100%;
    line-height:200px;
    margin:5% 5% 0 0;
}

#email {
    margin:-2.5% 2% 0 0;
    font-size:20px;
    float:right;
    height:30px;
    width:300px;
    color:white;
    background-color:#1d3d40;
    border:2px solid black;
    border-radius:20px;
    line-height:28px;
}

#email:hover {
    text-decoration: underline;
    background-color:#485352;
}